/* Reseteo básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #e0f7fa;
    color: #333;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background: linear-gradient(45deg, #42a5f5, #ab47bc);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Estilos para el contenido principal */
main {
    margin-top: 20px;
}

main section {
    margin-bottom: 20px;
}

/* Estilos para secciones */
section {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section#inicio {
    background: linear-gradient(45deg, #00e676, #66bb6a);
    color: #fff;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

/* Estilos para la lista de productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilos para cada producto */
.producto {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 1.5em;
    color: #42a5f5;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
    border-radius: 8px;
}
#clientes {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

#clientes h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.clientes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cliente {
    margin: 0 10px;
}

.cliente img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.cliente img:hover {
    transform: scale(1.1);
}